<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/registration}"method="post" th:object="${userEntity}">
    <input th:filed="*{name}" type="text" name="name" id="name">
    <input th:filed="*{email}" type="email" name="email" id="email">
    <input th:filed="*{password}" type="password" name="password" id="password">
    <input type="submit"value="зарегистрироваться">
</form>

</body>
</html>